body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
};
#map {
    height: 100%;

};
.park-option {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 35%;
    height: 10px;
    background: none;
    border: none;
};